
mixin-left-border-radius(radius = border-radius)
    border-top-left-radius: radius
    border-bottom-left-radius: radius 

mixin-right-border-radius(radius = border-radius)
    border-top-right-radius: radius
    border-bottom-right-radius: radius 

mixin-flex-center(direction = row)
    display flex
    flex-direction: direction
    justify-content: center
    align-items: center

mixin-max-width()
    max-width: 800px
    margin-left: auto
    margin-right: auto

mixin-margin-y(margin)
    margin-top: margin
    margin-bottom: margin

mixin-margin-x(margin)
    margin-left: margin
    margin-right: margin

mixin-padding-y(margin)
    padding-top: margin
    padding-bottom: margin

mixin-padding-x(margin)
    padding-left: margin
    padding-right: margin