* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 87.5%;
    background-color: color-background;
    --webkit-overflow-scrolling: touch;
    --webkit-tap-higlight-color: trasparent;
    --webkit-text-size-adjust: 100%;
    --as-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
    font-family: basefont;
    line-height: lineheight;
    color: textcolor;
}
