/*
  Colors
**
  Branding colors
*/
color-brand = #151515;
color-secondary = #FFE400;
color-black = rgb(0, 0, 0);
color-darkgrey = #4D4D4D;
color-grey = #737373;
color-lightgrey = #BFBFBF;
color-white = rgb(255, 255, 255);
color-border = color-darkgrey;
// Texturas
color-alert = rgb(252, 228, 207);
color-error = rgb(218, 79, 73);
color-invert = invert(color-error);
color-info = rgb(66, 184, 221);
color-success = rgb(91, 183, 91);
// Tipografia
basefont = 'Quicksand', sans-serif;
basefontsize = 16px;
smallFontSize = 12px;
mediumFontSize = 20px;
baseheadingfont = basefont;
baseheadingfontweight = bold;
altfont = Georgia, Times, 'Times New Roman';
codefont = 'Courier New', monospace;
lineheight = 1.5;
textcolor = color-white;
button-color = color-brand;
button-background = color-secondary;
color-background = color-brand;
// Constantes
border-radius = 40px;
padding = 24px;
minipadding = (padding / 2);
page-max-width = 800px;
