.Filter
    mixin-max-width()
    mixin-margin-y(3rem)
    &__button 
        mixin-margin-y(1rem)
        border-radius: border-radius
        height: 2rem
        width: auto
        padding: minipadding

@media (max-width: 600px) 
  .Filter  
      &__button
        mixin-margin-x(2rem)          

