.searchBar
    height: auto
    width: 50%
    mixin-flex-center()
    &__input
        width: 100%
        height 3rem
        mixin-left-border-radius()
    &__button
        height: 3rem
        mixin-right-border-radius()
        padding: padding  

@media (max-width: 600px) 
  .searchBar  
    width: 80%
    &__button  
      padding: minipadding

