.Table
    mixin-max-width();
.Loading
    color: color-secondary
    font-size: bigFontSize
    margin-top: 5rem
    width: 100%
    text-align: center
    mixin-max-width()

.Error
    font-size: bigFontSize
    margin-top: 5rem
    width: 100%
    text-align: center
    mixin-max-width()