.TableHeadField
    mixin-padding-y(2rem) 
    mixin-padding-x(1rem)
    cursor: pointer
    & .TableHeadField__content 
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        width: 100%
        & img
            margin-left: 1rem
            width auto
            height 1rem